
# ========================
# Django Configuration
# ========================

PROJECT_NAME=quick-api-backend
DEBUG=True

# ========================
# Database Configuration
# ========================
DB_NAME=quick-api
DB_USER=quick-duck
DB_USER_PASSWORD=quick-type
DB_HOST=backend-postgres
DB_PORT=5432

# ========================
# Proxy Settings
# ========================

HOST_PORT=8787

# ========================
# 3rd Party Configuration
# ========================
# Google CLIENT
# https://developers.google.com/identity/protocols/oauth2
# Callback URL: http://localhost:5566/auth/google/callback/
# ========================
SOCIAL_GOOGLE_CLIENT_ID=376808175534-d6mefo6b1kqih3grjjose2euree2g3cs.apps.googleusercontent.com
SOCIAL_GOOGLE_CLIENT_SECRET=
# ========================
# Microsoft CLIENT
# https://docs.microsoft.com/en-us/graph/auth-register-app-v2
# Callback URL: http://localhost:5566/auth/microsoft/callback/
# ========================
SOCIAL_MICROSOFT_CLIENT_ID=
SOCIAL_MICROSOFT_CLIENT_SECRET=
# ========================