
# ========================
# Django Configuration
# ========================

PROJECT_NAME=quick-api-backend
PROJECT_PORT=8787
DEBUG=True

# ========================
# QUICK API ACCOUNT
# ========================
QUICK_API_USERNAME=quick-duck
QUICK_API_PASSWORD=quick-type

# ========================
# Database Configuration
# ========================
DB_NAME=quick-api
DB_USER=quick-duck
DB_USER_PASSWORD=quick-type
DB_HOST=backend-postgres
DB_PORT=5432

# =======================================
# Airflow
# =======================================

# Airflow webserver
AIRFLOW_WEB_SERVER_PORT=8085
AIRFLOW_WEB_SERVER_BASE_URL=http://localhost:${PROJECT_PORT}/airflow
AIRFLOW__WEBSERVER__BASE_URL=${AIRFLOW_WEB_SERVER_BASE_URL}
AIRFLOW__WEBSERVER__WEB_SERVER_PORT=${AIRFLOW_WEB_SERVER_PORT}

# Airflow core
AIRFLOW__CORE__FERNET_KEY=UKMzEm3yIuFYEq1y3-2FxPNWSVwRASpahmQ9kQfEr8E=
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=0
AIRFLOW__CORE__DEFAULT_TIMEZONE=Asia/Taipei

# Airflow postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow database connection
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@backend-airflow-postgres:5432/${POSTGRES_DB}
AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS=False


# Airflow settings
_AIRFLOW_DB_MIGRATE=True
_AIRFLOW_WWW_USER_CREATE=True
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# ========================
# 3rd Party Configuration
# ========================
# Google CLIENT
# https://developers.google.com/identity/protocols/oauth2
# Callback URL: http://localhost:5566/auth/google/callback/
# ========================
SOCIAL_GOOGLE_CLIENT_ID=376808175534-d6mefo6b1kqih3grjjose2euree2g3cs.apps.googleusercontent.com
SOCIAL_GOOGLE_CLIENT_SECRET=
# ========================
# Microsoft CLIENT
# https://docs.microsoft.com/en-us/graph/auth-register-app-v2
# Callback URL: http://localhost:5566/auth/microsoft/callback/
# ========================
SOCIAL_MICROSOFT_CLIENT_ID=
SOCIAL_MICROSOFT_CLIENT_SECRET=
# ========================